:root {
  --primaire: #9356DC;
  --secondaire: #FF79DA;
  --tertiaire: #99E2D0;
}

* {
  margin: 0;
  padding: 0;

}


.title {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-family: 'Shrikhand', cursive;

}

.search {
  display: flex;
  background-color: #f3f3f3;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.searchFormWrapicon {
  padding: 5px;
}

.searchFormSearchinput {
  border: 0px transparent;
  background-color: #f3f3f3;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 20px;

}

.container-title {
  display: flex;
  font-weight: bolder;
  flex-basis: 100%;
  font-size: 30px;
  flex-wrap: wrap;

}

.container-content {
  font-size: 25px;

}

.btn {
  border-radius: 50px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  padding: 5px;
  font-size: 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  padding: 20px;
  transition: 1s;

}

.btn-link {
  text-decoration: none;
  color: white;

}

@media screen and (max-width: 768px) {
  .search {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
  }

  .container {
    display: flex;
    align-items: center;
    margin: 15px;


  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 25px;
  font-weight: bold;
  font-size: 20px;
}

.fonctionnement-link i:hover {
  color: var(--primaire);


}

.fonctionnement-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
  text-decoration: none;
}

.fonctionnement-link {

  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: .25rem .25rem .5remrgba(0, 0, 0, .125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  color: black;
  text-decoration: none;
}

.fonctionnement-list-item {
  display: flex;
  gap: 20px;
}

.fonctionnement-list-number {
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding: 15px;
  gap: 20px;


}

.restaurants-cellule {
  display: flex;
  gap: 25px;
  flex-basis: 100%;
  

}


.restaurants-item a {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px transparent solid;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
  flex-wrap: wrap;
}

.restaurants-img-new {
  position: relative;
}

.restaurants-new {
  display: flex;
  border: 2px transparent solid;
  border-radius: 5px;
  background-color: var(--tertiaire);
  width: 80px;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.restaurants-item a {
  text-decoration: none;
  color: black;
}

.restaurants-img img {
  height: 250px;
 width: 350px;
}

.restaurants-item-down {
  display: flex;
  padding: 20px;
}

.restaurants-item-text {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.restaurants-heart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.restaurants-heart .restaurants-heart-full {
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: 250ms;
}

.restaurants-heart .restaurants-heart-full:hover {
  opacity: 1;
  color: var(--primaire);
}
@media screen and (max-width: 1024px)
{
  .restaurants-img image-rendering
  {
    width: 100%;
  }
  .restaurants-cellule
  {
    display: flex;
    flex-wrap: wrap;
  }

}


@media screen and (max-width: 768px) {
  .restaurants {
    display: flex;
    flex-direction: column;
  }

  .restaurants-cellule {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
  }

  .restaurants-item {
    display: flex;
    flex-direction: column;

  }

  .restaurants-img img {
    width: 100%;
    object-fit: cover;
  }
}

.footer
{
  display: flex;
  background-color:rgb(71, 70, 70);
  color: white;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
}
.footer-list
{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-listelt 
{
  display: flex;
  gap: 5px;
}
.footer-logo
{
  font-family: 'Shrikhand', cursive;
  
}

/*deuxième page*/
.header
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header-back
{
  font-size: larger;
  font-weight: bolder;
  color: black;
}
.restoimg
{
  max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}
.menu
{
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: rgb(236, 234, 234);
}
.menu-haut
{
  display: flex;
  flex-direction: row;
  
}
.menu-haut-titre
{
  display: flex;
  flex-basis: 100%;
  font-family: 'Shrikhand', cursive;
}
.underline-h3 {
  width: 40px;
  height: 0.25em;
  background-color: #99e2d0;
  margin: 0;
  padding: 0;
  margin-left: 5vw;
}