.btn {
    background: #011c37;
    color: #15DEA5;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
	animation: leslie 3s;
}
@keyframes leslie {
	0%{
		opacity: 0;
	}
	100%
	{opacity: 1;}
	
}